<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="Public/css/bootstrap.css"></link>
		<script src="Public/js/jquery-3.0.0.js"></script>
		<script src="Public/js/cookie.js"></script>
		<script src="Public/js/index/init.js"></script>
		<script src="Public/js/Management/Haveland.js"></script>
		<style>
			.list-group li{
				margin-top: 20px;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">氧气聊天室</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">创建房间</a></li>
					<li><a href="#">欢迎:</a></li>
					<li><a href="#" id="user_name"></a></li>
					<li><a href="#" onclick="exit()">退出</a></li>
				</ul>
			</div>
		</nav>
	    <div class="container">
			<ul class="list-group">
				<li class="list-group-item">免费域名注册
					<span style="float: right;font-size: 12px">2017-12-23</span>
					<div style="height: 20px;margin-top: 15px" class="container">
						<span style="font-size: 12px;">在线人数:</span>10
						<div id="myButtons1" style="float: right;margin-top: -10px;margin-right: -20px" class="bs-example">
							<button type="button" class="btn btn-primary">开始讨论</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</body>

</html>